<mat-card>
    <mat-card-title>Alteração de Livro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do Livro" [(ngModel)]="book.nome" name="nome">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Autor" [(ngModel)]="book.autor" name="autor">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Data de Cadastro" [(ngModel)]="book.datacad" name="datacad">
        </mat-form-field> 
      </form>
</mat-card>


<button mat-raised-button (click)="updateBook()" color='primary'>
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>