<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo(a) {{ user_name }} !
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <p>Aqui você poderá ver todos livros cadastrados no sistema, mas somente poderá editar ou excluir aqueles que você cadastrou.</p>
        <p> Aproveite para cadastrar mais livros, basta clicar no ícone 
            <i class="material-icons">library_books</i> ao lado. Não esqueça de efetuar o Logout <i class="material-icons">logout</i> quando terminar.</p>
    </mat-card-subtitle>
</mat-card>
